---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Welcome to Pixelated Story | Let’s Build Something Amazing Together.

Pixelated Story isn’t just a name. It’s what we’ve lived.
What started as a ~50 member Discord built from passion, chaos, and Minecraft blocks turned into something deeper, a growing community forged through shared memories, trials, and friendships. We’ve been through the drama. We’ve rebuilt from ruins. We’ve restarted when the screen felt too pixelated to see clearly and somehow came back stronger each time.

`;
---

<Layout title="Welcome to Pixelated Story">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Pixelated Story</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://discord.gg/pixelatedstory" class="btn btn-lg sm:min-w-64">Discord Community</a>
    </p>
</Layout>
