---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Welcome to Pixelated Story, let's build something amazing together!

this is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a description
`;
---

<Layout title="Welcome to Pixelated Story">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Pixelated Story</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://discord.gg/pixelatedstory" class="btn btn-lg sm:min-w-64">Discord Community</a>
    </p>
</Layout>
