---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16">
    <p class="text-sm">
        <a href="https://www.youtube.com/channel/UClELxusBYLfBGeEh6UIs6eQ" class="decoration-dashed text-primary underline-offset-8"> Jmicheals on YouTube </a>
    </p>
</footer>
